@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This system enable clinitians to store and manage patient medical details regarding
        the patient's treatment history.
    </p>
</article>