@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Main Options:</h3>
<ol class="round">
    <li class="one">
        <h5>Patient Search</h5>        
        <br/>
    </li>

    <li class="two">
        <h5>List of All Patients</h5>
        <br/>
    </li>

    <li class="three">
        <h5>Export Functions</h5>        
        <br/>
    </li>
</ol>
