@model Endo.Web.Models.PatientModel
<tr>
    <td>
        @Html.DisplayFor(m => m.Mrn)
    </td>
    <td>
        @Html.DisplayFor(m => m.Alias)
    </td>
    <td>
        @Html.DisplayFor(m => m.Dob)
    </td>
    <td>
        @Html.DisplayFor(m => m.Gender)
    </td>
</tr>
