@model Endo.Web.Models.PatientSearchModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@{
    Html.RenderPartial("SearchForm", Model.PatientModel);
}
@if (Model.SearchRecords != null)
{
    <table>
        <tr>
            <th>MRN</th>
            <th>Alias</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>First Visit</th>
            <th>Comment</th>
        </tr>
    
    @foreach (var patient in Model.SearchRecords)
    {
        Html.RenderPartial("SearchResult", patient);
    }
    </table>
}